.DS_Store
/dist/
node_modules/
yarn-error.log

[C-D][k-m][a-b][t-v][c-e][d-f]\.*
?\x6c\x61\x75??[e-f]*
*[c\103][l\154][\x61][\165][d\144][e\105]*
[\143]l[\x61]u[d\144][\x65]\.[\155][d\144]
.[\x63\x6c\x61\x75\x64\x65]*